:root {
  --paragraph-indent-0: 0px;
  --Colorsurface-50: rgb(250, 250, 250);
  --Colorsurface-100: rgb(244, 245, 246);
  --Colorsurface-150: rgb(242, 242, 242);
  --Colorsurface-200: rgb(234, 235, 237);
  --Colorsurface-250: rgb(223, 226, 228);
  --Colorsurface-300: rgb(181, 186, 191);
  --Colorsurface-400: rgb(139, 147, 154);
  --Colorsurface-500: rgb(108, 117, 125);
  --Colorsurface-600: rgb(94, 101, 108);
  --Colorsurface-700: rgb(78, 84, 90);
  --Colorsurface-800: rgb(62, 67, 72);
  --Colorsurface-900: rgb(31, 34, 36);
  --Colorsurface-black: rgb(0, 0, 0);
  --Colorsurface-white: rgb(255, 255, 255);
  --Colorsystem-success-700: rgb(0, 142, 90);
  --Colorsystem-success-500: rgb(0, 202, 129);
  --Colorsystem-success-50: rgb(230, 249, 242);
  --Colorsystem-warning-500: rgb(199, 113, 12);
  --Colorsystem-warning-50: rgb(255, 241, 217);
  --Colorsystem-error-500: rgb(171, 0, 0);
  --Colorsystem-error-50: rgb(247, 230, 230);
  --Colorsystem-info-500: rgb(49, 130, 206);
  --Colorsystem-info-50: rgb(214, 230, 245);
  --Colorsystem-info-25: rgb(236, 246, 255);
  --Colorsystem-attention-500: rgb(255, 184, 0);
  --Colorprimary-25: rgb(240, 242, 255);
  --Colorprimary-50: rgb(224, 229, 255);
  --Colorprimary-100: rgb(204, 213, 255);
  --Colorprimary-200: rgb(153, 170, 255);
  --Colorprimary-300: rgb(102, 128, 255);
  --Colorprimary-400: rgb(51, 85, 255);
  --Colorprimary-600: rgb(0, 34, 204);
  --Colorprimary-700: rgb(0, 26, 153);
  --Colorprimary-800: rgb(0, 17, 102);
  --Colorprimary-900: rgb(0, 9, 51);
  --Colorprimary-500-base: rgb(0, 43, 255);
  --Colorsecondary-25: rgb(233, 251, 232);
  --Colorsecondary-50: rgb(193, 244, 193);
  --Colorsecondary-100: rgb(116, 228, 130);
  --Colorsecondary-200: rgb(116, 228, 130);
  --Colorsecondary-300: rgb(77, 219, 109);
  --Colorsecondary-400: rgb(39, 209, 92);
  --Colorsecondary-600: rgb(0, 163, 29);
  --Colorsecondary-700: rgb(0, 125, 0);
  --Colorsecondary-800: rgb(9, 85, 0);
  --Colorsecondary-900: rgb(13, 41, 0);
  --Colorsecondary-500-base: rgb(0, 198, 79);
}
