:root {
  --paragraph-indent-0: 0px;
  --surface-50: #fafafa;
  --surface-100: #f4f5f6;
  --surface-150: #f2f2f2;
  --surface-200: #eaebed;
  --surface-250: #dfe2e4;
  --surface-300: #b5babf;
  --surface-400: #8b939a;
  --surface-500: #6c757d;
  --surface-600: #5e656c;
  --surface-700: #4e545a;
  --surface-800: #3e4348;
  --surface-900: #1f2224;
  --surface-black: #000000;
  --surface-white: #ffffff;
  --system-success-700: #008e5a;
  --system-success-500: #00ca81;
  --system-success-50: #e6f9f2;
  --system-warning-500: #c7710c;
  --system-warning-50: #fff1d9;
  --system-error-500: #ab0000;
  --system-error-50: #f7e6e6;
  --system-info-500: #3182ce;
  --system-info-50: #d6e6f5;
  --system-info-25: #ecf6ff;
  --system-attention-500: #ffb800;
  --primary-25: #f0f2ff;
  --primary-50: #e0e5ff;
  --primary-100: #ccd5ff;
  --primary-200: #99aaff;
  --primary-300: #6680ff;
  --primary-400: #3355ff;
  --primary-600: #0022cc;
  --primary-700: #001a99;
  --primary-800: #001166;
  --primary-900: #000933;
  --primary-500-base: #002bff;
  --secondary-25: #e9fbe8;
  --secondary-50: #c1f4c1;
  --secondary-100: #74e482;
  --secondary-200: #74e482;
  --secondary-300: #4ddb6d;
  --secondary-400: #27d15c;
  --secondary-600: #00a31d;
  --secondary-700: #007d00;
  --secondary-800: #095500;
  --secondary-900: #0d2900;
  --secondary-500-base: #00c64f;
}
